/* Colorblind Mode */
.root {
    -fx-background-color: #4e5d6c;
    -fx-text-fill: yellow;
}

.button {
    -fx-background-color: #e67e22;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2px;
}
