/* default.css */

* {
    font-family: Arial, sans-serif;
}

.visualiser {
    -fx-background-color: #2c3e50;
    -fx-padding: 10;
    -fx-spacing: 0;

}

.vbox {
    -fx-background-color: #2c3e50; /* Background color for VBox */
}

.hbox {
    -fx-background-color: #2c3e50; /* Background color for HBox */
}

.vboxPadded {
    -fx-background-color: #2c3e50;
    -fx-padding: 10px;
}

.hboxPadded {
    -fx-background-color: #2c3e50;
    -fx-padding: 10px;
}

.button {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-color: #34495e;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.slider {
    -fx-accent: #2980b9;
}

.text-field {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-border-color: #2980b9;
}

.statistics-panel{
    -fx-background-color: #2c3e50;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}



.preview-box {
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-background-color: #1C2833;
    -fx-padding: 5px;
}